<!DOCTYPE html>
<html lang="ru">
    <head>
        @await Html.PartialAsync("CssPartial")
        <meta charset="utf-8" name="viewport" content="width=device-width" initial-scale="1.0"/>
        <title>Pari</title>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" style="float:left">
                    <a class="navbar-brand" href="/" style="color:rgb(2,199,179)">PARI</a>
                </a>
            </header>
            <div class="row">
                    @RenderBody()
            </div>
        </div>
    </body>
</html>
